@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: local("../fonts/Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: local("../fonts/Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: local("../fonts/Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: local("../fonts/Poppins Light"), local("Poppins-Light"), url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: local("../fonts/Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

span,
img,
svg,
textarea,
input,
label {
  display: block;
}

svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input,
textarea {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

body {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 1.3rem;
}
body::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}
body::-webkit-scrollbar-thumb {
  background: #0156FF;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 5rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: #003fbd;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.button {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  line-height: 1.5; /* 21/14 */
  font-weight: 600;
  white-space: nowrap;
  font-size: 1.0769rem;
  color: #0156FF;
  border: 2px solid #0156FF;
  border-radius: 50px;
}
.button_background {
  color: #fff;
  background-color: #0156FF;
}
@media (max-width: 1330px) {
  .button {
    font-size: 1.0385rem;
  }
}
@media (max-width: 1200px) {
  .button {
    font-size: 1rem;
  }
}

.drop-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
  color: #000;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
}
.drop-card::after {
  content: "";
  position: absolute;
  top: -12px;
  width: 30px;
  height: 12px;
  background-image: url(/img/decor/arrow-card.svg);
  background-size: cover;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.social_footer {
  color: rgba(255, 255, 255, 0.5019607843);
}
.social__icon {
  width: 15px;
  height: 15px;
}
.social__icon_footer {
  width: 17px;
  height: 17px;
}
.social__icon-wrap {
  padding: 14px 0px 15px 0px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.social__icon-wrap:hover:first-child {
  color: #0156FF;
}
.social__icon-wrap:hover:last-child {
  color: #c94d3f;
}
@media (max-width: 1330px) {
  .social__icon-wrap {
    padding: 13px 0px 14px 0px;
  }
}
@media (max-width: 1200px) {
  .social__icon-wrap {
    padding: 12px 0px 13px 0px;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.animate {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animate_fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
}
.animate_fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig;
}
.animate_fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
}
.animate_jackInTheBox {
  -webkit-animation-name: jackInTheBox;
          animation-name: jackInTheBox;
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 0, 0);
            transform: translate3d(-1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 0, 0);
            transform: translate3d(-1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1000px, 0, 0);
            transform: translate3d(1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1000px, 0, 0);
            transform: translate3d(1000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
            transform: translate3d(0, 1000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
            transform: translate3d(0, 1000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.top-banner {
  color: #fff;
  background-color: #000;
  font-size: 0.9231rem;
  line-height: 1.5;
}
.top-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 44px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 1330px) {
  .top-banner__content {
    min-height: 42px;
  }
}
@media (max-width: 1200px) {
  .top-banner__content {
    min-height: 40px;
  }
}
@media (max-width: 424.98px) {
  .top-banner__content {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.top-banner__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  cursor: pointer;
  padding: 13px 0px 13px 0px;
}
.top-banner__address-text {
  color: #acacac;
}
@media (max-width: 1023.98px) {
  .top-banner__address-text {
    display: none;
  }
}
.top-banner__address-list {
  position: relative;
}
.top-banner__address-list::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
}
@media (max-width: 1330px) {
  .top-banner__address {
    padding: 12px 0px 12px 0px;
  }
}
@media (max-width: 1200px) {
  .top-banner__address {
    padding: 12px 0px 11px 0px;
  }
}
@media (max-width: 424.98px) {
  .top-banner__address {
    padding: 12px 0px 12px 0px;
  }
}
@media (max-width: 1330px) {
  .top-banner {
    font-size: 0.8846rem;
  }
}
@media (max-width: 1200px) {
  .top-banner {
    font-size: 0.8462rem;
  }
}
@media (max-width: 424.98px) {
  .top-banner {
    font-size: 0.7692rem;
  }
}

.schedule {
  position: relative;
}
.schedule:hover .schedule-card {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.schedule:hover .schedule__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.schedule__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  padding: 13px 0px 13px 0px;
  cursor: pointer;
}
@media (max-width: 1330px) {
  .schedule__main {
    padding: 12px 0px 12px 0px;
  }
}
@media (max-width: 1200px) {
  .schedule__main {
    padding: 12px 0px 11px 0px;
  }
}
@media (max-width: 424.98px) {
  .schedule__main {
    padding: 14px 0px 11px 0px;
  }
}
.schedule__day {
  color: #acacac;
}
.schedule__icon {
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.schedule__icon-wrap {
  width: 8px;
  height: 6px;
}
@media (max-width: 1023.98px) {
  .schedule {
    margin-left: 95px;
  }
}
@media (max-width: 424.98px) {
  .schedule {
    margin-left: 60px;
  }
}

.schedule-card {
  row-gap: 25px;
  left: 144px;
  top: 46px;
  width: 260px;
  padding: 15px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}
.schedule-card::after {
  left: 16px;
}
@media (max-width: 1023.98px) {
  .schedule-card::after {
    left: initial;
    right: 50px;
  }
}
.schedule-card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media (max-width: 1023.98px) {
  .schedule-card__items {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.schedule-card__icon-wrap {
  color: #0156FF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  height: 25px;
  margin-top: 5px;
}
@media (max-width: 1023.98px) {
  .schedule-card__icon-wrap {
    color: #000;
  }
}
.schedule-card__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  position: relative;
}
.schedule-card__time::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -50px;
  width: 260px;
  height: 1px;
  background-color: #d9d9d9;
}
@media (max-width: 1023.98px) {
  .schedule-card__time::after {
    width: 285px;
    left: -70px;
  }
}
@media (max-width: 424.98px) {
  .schedule-card__time::after {
    width: 100vw;
    left: -85px;
  }
}
.schedule-card__time-title {
  font-size: 0.9231rem;
}
.schedule-card__time-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  font-weight: 600;
}
.schedule-card__time-item_color {
  color: #a2a6b0;
}
@media (max-width: 424.98px) {
  .schedule-card__address {
    max-width: 180px;
  }
}
.schedule-card__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  position: relative;
}
.schedule-card__contacts::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -15px;
  width: 260px;
  height: 1px;
  background-color: #d9d9d9;
}
@media (max-width: 1023.98px) {
  .schedule-card__contacts::before {
    width: 285px;
    left: -30px;
  }
}
@media (max-width: 424.98px) {
  .schedule-card__contacts::before {
    width: 100vw;
    left: -45px;
  }
}
.schedule-card__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.schedule-card__contact-item_color {
  color: #0156FF;
}
@media (max-width: 1330px) {
  .schedule-card {
    left: 137px;
    top: 43px;
  }
}
@media (max-width: 1200px) {
  .schedule-card {
    left: 132px;
    top: 42px;
  }
}
@media (max-width: 1023.98px) {
  .schedule-card {
    left: -57px;
    width: 285px;
    padding: 15px 25px 20px 30px;
  }
}
@media (max-width: 424.98px) {
  .schedule-card {
    width: 100vw;
    left: -75px;
    padding: 15px 45px 20px 45px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
@media (max-width: 1023.98px) {
  .contacts {
    display: none;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  padding: 13px 0px 13px 0px;
  cursor: pointer;
}
.contact:hover .contact__number::after {
  width: 100%;
}
.contact__number {
  position: relative;
}
.contact__number::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}
@media (max-width: 1330px) {
  .contact {
    padding: 12px 0px 12px 0px;
  }
}
@media (max-width: 1200px) {
  .contact {
    padding: 11px 0px 12px 0px;
  }
}

.header {
  position: sticky;
  width: 100%;
  top: -1px;
  z-index: 10;
  border-bottom: 1px solid #acacac;
  font-weight: 600;
  background-color: #fff;
}
@media (max-width: 1023.98px) {
  .header__menu {
    background-color: #0156FF;
  }
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  min-height: 90px;
}
@media (max-width: 1330px) {
  .header__content {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    min-height: 80px;
  }
}
@media (max-width: 1200px) {
  .header__content {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    min-height: 70px;
  }
}
@media (max-width: 1023.98px) {
  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 64px;
  }
}
@media (max-width: 424.98px) {
  .header__content {
    min-height: 66px;
  }
}

.button-menu {
  display: none;
}
@media (max-width: 1023.98px) {
  .button-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    z-index: 15;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 10px;
    -webkit-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
  }
  .button-menu:hover {
    background-color: rgba(0, 0, 0, 0.1294117647);
  }
  .button-menu__item, .button-menu::after, .button-menu::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 20px;
    background: #fff;
  }
  .button-menu::before {
    top: 13px;
  }
  .button-menu::after {
    bottom: 13px;
  }
}
@media (max-width: 424.98px) {
  .button-menu {
    margin-left: 0;
  }
}

.logo {
  z-index: 15;
  color: #0156FF;
}
.logo__icon {
  width: 33px;
  height: 40px;
}
@media (max-width: 1023.98px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: -35px;
    left: 5px;
    color: #fff;
    width: 64px;
    height: 45px;
    background-color: #0156FF;
    border-radius: 50% 50% 0% 0%;
  }
  .logo__icon {
    width: 18px;
    height: 24px;
  }
}
@media (max-width: 424.98px) {
  .logo {
    left: -4px;
    width: 50px;
    border-radius: 45% 45% 0% 0%;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 10;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  font-size: 1.0769rem;
  line-height: 1.57;
  white-space: nowrap;
}
@media (max-width: 1330px) {
  .menu__list {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    font-size: 1.0385rem;
  }
}
@media (max-width: 1200px) {
  .menu__list {
    -webkit-column-gap: 3px;
       -moz-column-gap: 3px;
            column-gap: 3px;
    font-size: 1rem;
  }
}
@media (max-width: 1023.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 1rem;
  }
}
.menu__item_offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu__link {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 9px 12px;
  border-radius: 50px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.menu__link:hover {
  color: #fff;
}
.menu__link:hover::before {
  top: -30px;
  left: -30px;
}
.menu__link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  z-index: -1;
  background: #0156FF;
  height: 200px;
  width: 250px;
  border-radius: 50%;
  -webkit-transition: 0.7s ease 0s;
  transition: 0.7s ease 0s;
}
.menu__link_offer {
  padding: 7px 24px;
}
@media (max-width: 1330px) {
  .menu__link {
    padding: 8px 10px;
  }
  .menu__link_offer {
    padding: 6px 14px;
  }
}
@media (max-width: 1100px) {
  .menu__link {
    padding: 8px 6px;
  }
  .menu__link_offer {
    padding: 6px 6px;
  }
}
@media (max-width: 1023.98px) {
  .menu__link {
    padding: 6px 8px;
  }
  .menu__link_offer {
    margin-top: 5px;
    padding: 6px 49px;
  }
}
@media (max-width: 1023.98px) {
  .menu {
    width: 435px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    padding: 90px 25px 25px 25px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
}
@media (max-width: 1023.98px) and (max-width: 1023.98pxpx) {
  .menu {
    width: calc(260px + 175 * ((100vw - 320px) / 703.98px));
  }
}
@media (max-width: 1023.98px) {
  .menu::before {
    content: "";
    width: 435px;
    position: fixed;
    top: 0;
    left: -100%;
    height: 75px;
    padding: 0 20px;
    background-color: #fff;
    z-index: 10;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    border-bottom: 2px solid #cacdd8;
  }
}
@media (max-width: 1023.98px) and (max-width: 1023.98pxpx) {
  .menu::before {
    width: calc(260px + 175 * ((100vw - 320px) / 703.98px));
  }
}

@media (max-width: 1023.98px) {
  .menu-open .header__content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-open .logo {
    background: initial;
    color: #0156FF;
    position: fixed;
    top: 15px;
    left: 7px;
  }
  .menu-open .logo__icon {
    width: 28px;
    height: 34px;
  }
  .menu-open .menu, .menu-open .menu::before {
    left: 0;
  }
  .menu-open .button-menu {
    left: 368px;
    position: fixed;
    top: 15px;
  }
}
@media (max-width: 1023.98px) and (max-width: 1023.98pxpx) {
  .menu-open .button-menu {
    left: calc(206px + 162 * ((100vw - 320px) / 703.98px));
  }
}
@media (max-width: 1023.98px) {
  .menu-open .button-menu__item, .menu-open .button-menu::after, .menu-open .button-menu::before {
    width: 20px;
    background: #000;
  }
}
@media (max-width: 1023.98px) {
  .menu-open .button-menu__item {
    width: 0;
  }
}
@media (max-width: 1023.98px) {
  .menu-open .button-menu::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
  }
}
@media (max-width: 1023.98px) {
  .menu-open .button-menu::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 18px;
  }
}
@media (max-width: 1023.98px) {
  .menu-open .pages {
    -webkit-transition: background 0.3s ease 0s;
    transition: background 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.3411764706);
  }
}
@media (max-width: 424.98px) {
  .menu-open .logo {
    left: 14px;
  }
}
.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 1200px) {
  .header-actions {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 1023.98px) {
  .header-actions {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.search__open {
  width: 18px;
  height: 18px;
}
.search__open-wrap {
  padding: 12px 10px 10px 10px;
}
@media (max-width: 1023.98px) {
  .search__open {
    color: #cacdd8;
    width: 16px;
    height: 16px;
  }
}

.cart {
  position: relative;
}
.cart:hover .cart-card {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.cart__button {
  cursor: pointer;
  position: relative;
}
.cart__icon {
  width: 19px;
  height: 17px;
}
.cart__icon-wrap {
  padding: 10px 15px 10px 0px;
}
@media (max-width: 1023.98px) {
  .cart__icon-wrap {
    padding: 15px 15px 4px 0px;
  }
}
@media (max-width: 1023.98px) {
  .cart__icon {
    color: #fff;
    width: 20px;
    height: 18px;
  }
}
.cart__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  right: 3px;
  height: 16px;
  width: 16px;
  background-color: #0156FF;
  border-radius: 50%;
  color: #fff;
  font-size: 0.7692rem;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 1330px) {
  .cart__quantity {
    line-height: 0;
  }
}
@media (max-width: 1023.98px) {
  .cart__quantity {
    top: 4px;
    right: 4px;
    background-color: #fff;
    color: #0156FF;
    height: 17px;
    width: 17px;
    font-size: 0.8462rem;
  }
}

.cart-card {
  row-gap: 36px;
  right: -55px;
  top: 66px;
  width: 310px;
  font-weight: 600;
  line-height: 1;
  padding: 30px 20px;
}
.cart-card::after {
  left: 69%;
}
.cart-card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}
.cart-card__items:first-child::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: -20px;
  width: 310px;
  height: 1px;
  background-color: #d9d9d9;
}
.cart-card__items_gap {
  row-gap: 36px;
}
.cart-card__title {
  font-size: 1.3846rem;
  margin-bottom: 10px;
}
.cart-card__quantity-goods {
  font-weight: 400;
  font-size: 0.9231rem;
  color: #a2a6b0;
  margin-bottom: 20px;
}
.cart-card__view-button {
  padding: 6px 47px;
}
.cart-card__subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin-bottom: 15px;
}
.cart-card__subtotal-text {
  color: #a2a6b0;
}
.cart-card__subtotal-total {
  font-size: 1.3846rem;
}
.cart-card__checkout {
  margin-bottom: 7px;
  padding: 6px 69px;
}
.cart-card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 9px 39px;
  background-color: #ffb800;
  font-size: 0.9231rem;
  border: initial;
}
.cart-card__check-text {
  color: #000;
}
.cart-card__check-icon {
  width: 72px;
}
@media (max-width: 1330px) {
  .cart-card {
    top: 61px;
  }
}
@media (max-width: 1200px) {
  .cart-card {
    top: 56px;
  }
}
@media (max-width: 1023.98px) {
  .cart-card {
    top: 53px;
  }
}

.products-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  font-weight: 400;
  position: relative;
}
.products-cart::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: -20px;
  width: 310px;
  height: 1px;
  background-color: #d9d9d9;
}
.products-cart__number {
  font-size: 1.3846rem;
  white-space: nowrap;
}
.products-cart__img-wrap {
  height: 65px;
}
.products-cart__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
}
.products-cart__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  -ms-flex-item-align: start;
      align-self: start;
}
.products-cart__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1.5px solid #cacdd8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.products-cart__action:last-child .products-cart__action-icon {
  width: 11px;
  height: 11px;
}
.products-cart__action-icon {
  color: #a2a6b0;
  width: 10px;
  height: 10px;
}

.profile {
  position: relative;
}
.profile:hover .profile-card {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.profile__user {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #000;
  padding: 10px;
}
@media (max-width: 1023.98px) {
  .profile__user {
    padding: 9px;
    border: 2px solid #fff;
  }
}
.profile__icon-wrap {
  width: 12px;
  height: 12px;
}
@media (max-width: 1023.98px) {
  .profile__icon-wrap {
    color: #fff;
  }
}
.profile__avatar-wrap {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 1023.98px) {
  .profile__avatar-wrap {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.profile-card {
  row-gap: 5px;
  right: 0;
  top: 66px;
  width: 230px;
  padding: 20px 25px;
  font-weight: 500;
  font-size: 1.0769rem;
  line-height: 1.57;
}
.profile-card::after {
  left: 86%;
}
@media (max-width: 1330px) {
  .profile-card {
    top: 60px;
  }
}
@media (max-width: 1200px) {
  .profile-card {
    top: 56px;
  }
}
@media (max-width: 1023.98px) {
  .profile-card {
    top: 51px;
  }
}

.footer {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  line-height: 1.32;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 520px;
}
.footer__additional-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 55px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__copyright {
  font-size: 0.9231rem;
  color: rgba(255, 255, 255, 0.5019607843);
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.newsletter-form__content {
  margin-bottom: 45px;
}
.newsletter-form__content-title {
  font-size: 2.9231rem;
  margin-bottom: 10px;
}
.newsletter-form__content-descr {
  font-weight: 300;
  font-size: 1.2308rem;
}

.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  font-weight: 300;
  font-size: 1.0769rem;
  line-height: 1;
}
.email-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  width: 390px;
}
.email-form__text {
  white-space: nowrap;
  margin-right: 20px;
}
.email-form__input {
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
}
.email-form__button {
  padding: 12px 38px;
}

.basic-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 30px;
}
.basic-information__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.basic-information__list_padding {
  padding-right: 70px;
}
.basic-information__link_title {
  color: rgba(255, 255, 255, 0.5019607843);
  font-weight: 700;
  font-size: 1.0769rem;
  line-height: 1;
  margin-bottom: 20px;
}

.payment-systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.payment-systems__items {
  width: 35px;
  height: 20px;
}
.reviews__content {
  font-weight: 400;
  line-height: 1.5; /* 27/18 */
}
.reviews__icon-wrap {
  width: 40px;
  height: 25px;
}
.reviews__fitback-text {
  font-size: 1.3846rem;
}
.reviews__fitback-owner {
  font-size: 1.0769rem;
}
.reviews__button {
  padding: 6px 25px;
}
.reviews__next-review {
  width: 12px;
  height: 12px;
  background-color: #0156FF;
  border-radius: 50%;
  position: relative;
}
.reviews__next-review::before, .reviews__next-review::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #0156FF;
  border-radius: 50%;
}
.reviews__next-review::before {
  left: 20px;
}
.reviews__next-review::after {
  right: 20px;
}

.advantages-store {
  padding: 50px 0;
}
.advantages-store__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 130px;
}

.advantages-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.advantages-items__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 65px;
  height: 65px;
  margin-bottom: 25px;
  color: #fff;
  background-color: #0156FF;
  border-radius: 50%;
}
.advantages-items__icon {
  width: 25px;
  height: 25px;
}
.advantages-items__title {
  font-weight: 700;
  font-size: 1.3846rem;
  line-height: 1.32;
  margin-bottom: 15px;
}
.advantages-items__descr {
  font-weight: 400;
  font-size: 1.0769rem;
  line-height: 1.4;
  max-width: 265px;
}/*# sourceMappingURL=style.css.map */