:root {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #000;
}

body {
	background-color: #fff;
	&::-webkit-scrollbar {
		width: 0.8rem;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
		box-shadow: 0 0 2px rgb(0, 0, 0, 0.2) inset;
	}
	&::-webkit-scrollbar-thumb {
		background: $mainColorElements;
		border: 3px solid #fff;
		border-radius: 10px;
		height: 6rem;
		&:hover {
			background: $hoverColorElements;
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	min-height: 100%;
}

.container {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;
}

.pages {
	flex: 1 1 auto;
}

.button {
	display: inline-block;
	flex: 0 0 auto;
	text-align: center;
	line-height: 1.57;
	font-weight: 600;
	white-space: nowrap;
	font-size: 1.08rem;
	color: $mainColorElements;
	outline: 2px solid $mainColorElements;
	border-radius: 50px;
	// transition: background-color 0.2s ease 0s;
}
