@mixin flex($jc: center, $ai: center, $fd: row) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
	flex-direction: $fd;
}

@mixin grid($ai: center, $ji: center) {
	display: grid;
	align-items: $ai;
	justify-items: $ji;
}

@mixin adaptive($property, $startSize, $minSize, $maxWidthContainer) {
	$addSize: $startSize - $minSize;
	#{$property}: $startSize + px;
	#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
}