// MEDIA
$bp0: 1200px;
$bp1: 1035px;
$bp2: 950px;
$bp3: 860px;
$bp4: 767.98px;
$bp5: 576px;
$bp6: 430px;

// additional color of text site
$addColorText: #fff;

// main color of elements
$mainColorElements: #ffffff;

// additional color of elements
$addColorElements: #ffffff;

// color of icons
$colorIcons: #ffffff;