// MEDIA
$bp0: 1320px;
$bp1: 1035px;
$bp2: 950px;
$bp3: 860px;
$tablet: 767.98px;
$bp5: 576px;
$bp6: 430px;

// additional color for background
$addColorBg: #000;

// additional color for text
$addColorText: #fff;

// main color for elements
$mainColorElements: #0156FF;

// main color for elements
$hoverColorElements: #003fbd;