// MEDIA
$bpLaptopMax: 1429.98px;
$bpLaptopMax1: 1330px;
$bpLaptopMax2: 1200px;
$bpLaptopMax3: 1100px;
$bpLaptopMin: 1023.98px;
$bpTablet: 767.98px;
$bpTablet1: 600px;
$bpMobile: 424.98px;

// additional color for background
$addColorBg: #000;

// additional color for text
$addColorText: #fff;

// main color for elements
$mainColorElements: #0156FF;

// main color for elements
$hoverColorElements: #003fbd;