.footer {
	background-color: $addColorBg;
	color: $addColorText;
	font-weight: 500;
	line-height: 1.32;
	&__content {
		@include flex(flex-end, center, column);
		min-height: 520px;
	}
	&__additional-link {
		@include flex(space-between);
		width: 100%;
		min-height: 55px;
		border-top: 1px solid #ffffff33;
	}
	&__copyright {
		font-size: 0.9231rem;
		color: #ffffff80;
	}
}
.newsletter-form {
	@include flex(space-between);
	width: 100%;
	&__content {
		margin-bottom: 45px;
	}
	&__content-title {
		font-size: 2.9231rem;
		margin-bottom: 10px;
	}
	&__content-descr {
		font-weight: 300;
		font-size: 1.2308rem;
	}
}
.email-form {
	@include flex;
	column-gap: 25px;
	font-weight: 300;
	font-size: 1.0769rem;
	line-height: 1;
	&__label {
		@include flex;
		padding: 12px 10px;
		border: 2px solid #fff;
		border-radius: 4px;
		width: 390px;
	}
	&__text {
		white-space: nowrap;
		margin-right: 20px;
	}
	&__input {
		width: 100%;
		height: 100%;
		outline: none;
		background: transparent;
	}
	&__button {
		padding: 12px 38px;
	}
}

.basic-information {
	@include flex(space-between, flex-start);
	width: 100%;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 30px;
	&__list {
		@include flex(flex-start, flex-start, column);
		row-gap: 5px;
		&_padding {
			padding-right: 70px;
		}
	}
	&__item {
	}
	&__link {
		&_title {
			color: #ffffff80;
			font-weight: 700;
			font-size: 1.0769rem;
			line-height: 1;
			margin-bottom: 20px;
		}
	}
}
.payment-systems {
	@include flex;
	column-gap: 5px;
	&__items {
		width: 35px;
		height: 20px;
	}
	&__icon {
	}
}
