.reviews {
	padding: 30px 0;
	&__content {
		@include grid;
	}
	&__fitback {
		@include grid(center, end);
		grid-template: 1fr repeat(2, auto) / repeat(2, auto) 1fr;
		grid-template-areas:
			"icon text text"
			"author author author"
			"button button next-reviews";
		row-gap: 10px;
		padding: 55px 120px;
		background-color: #f5f7ff;
		font-weight: 400;
		line-height: 1.5; /* 27/18 */
		max-width: 1160px;
		&-text {
			grid-area: text;
			font-size: 1.3846rem;
			@media (max-width: $bpLaptopMin) {
				font-size: 1.2308rem;
			}
			@media (max-width: $bpTablet) {
				font-size: 1rem;
			}
		}
		&-author {
			justify-self: end;
			grid-area: author;
			font-size: 1.0769rem;
			margin-bottom: 10px;
			@media (max-width: $bpLaptopMin) {
				font-size: 0.9231rem;
			}
			@media (max-width: $bpTablet) {
				font-size: 0.7692rem;
				margin-bottom: 0;
			}
		}
		@media (max-width: $bpLaptopMin) {
			@include adaptive("padding-left", 120, 20, 1023.98);
			@include adaptive("padding-right", 120, 20, 1023.98);
			@include adaptive("padding-top", 55, 25, 1023.98);
			@include adaptive("padding-bottom", 55, 25, 1023.98);
		}
	}
	&__icon {
		&-wrap {
			align-self: start;
			width: 40px;
			height: 25px;
			margin-right: 30px;
			@media (max-width: $bpLaptopMin) {
				width: 30px;
				height: 20px;
				margin-right: 25px;
			}
			@media (max-width: $bpTablet) {
				width: 20px;
				height: 15px;
				margin-right: 20px;
			}
		}
	}
	&__button {
		grid-area: button;
		padding: 6px 25px;
		@media (max-width: $bpLaptopMin) {
			padding: 6px 20px;
		}
		@media (max-width: $bpTablet) {
			padding: 7px 16px;
		}
		@media (max-width: $bpTablet) {
			padding: 7px 10px;
		}
	}
	&__next-reviews {
		@include grid(center, end);
		grid-template: auto / repeat(2, 1fr);
		grid-area: next-reviews;
	}
	&__next-review {
		position: relative;
		cursor: pointer;
		width: 12px;
		height: 12px;
		background-color: #cacdd8;
		border-radius: 50%;
		&:first-child {
			margin-right: 5px;
		}
		&:first-child::before,
		&:last-child::before {
			content: "";
			position: absolute;
			top: 0;
			right: 45px;
			width: 12px;
			height: 12px;
			background-color: #cacdd8;
			border-radius: 50%;
			@media (max-width: $bpTablet) {
				width: 9px;
				height: 9px;
				right: 38px;
			}
		}
		@media (max-width: $bpTablet) {
			width: 9px;
			height: 9px;
		}
	}
}
