.top-banner {
	color: $addColorText;
	background-color: $addColorBg;
	font-size: 0.9231rem;
	line-height: 1.5;
	&__content {
		@include flex(space-between);
		min-height: 44px;
		column-gap: 50px;
		@media (max-width: $bpLaptopMax1) {
			min-height: 42px;
		}
		@media (max-width: $bpLaptopMax2) {
			min-height: 40px;
		}
		@media (max-width: $bpMobile) {
			column-gap: 20px;
		}
	}
	&__address {
		@include flex;
		column-gap: 5px;
		cursor: pointer;
		padding: 13px 0px 13px 0px;
		&-text {
			color: #acacac;
			@media (max-width: $bpLaptopMin) {
				display: none;
			}
		}
		&-list {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 2px;
				border-radius: 50px;
				background-color: #fff;
			}
		}
		@media (max-width: $bpLaptopMax1) {
			padding: 12px 0px 12px 0px;
		}
		@media (max-width: $bpLaptopMax2) {
			padding: 12px 0px 11px 0px;
		}
		@media (max-width: $bpMobile) {
			padding: 12px 0px 12px 0px;
		}
	}
	@media (max-width: $bpLaptopMax1) {
		font-size: 0.8846rem;
	}
	@media (max-width: $bpLaptopMax2) {
		font-size: 0.8462rem;
	}
	@media (max-width: $bpMobile) {
		font-size: .7692rem;
	}
}
.schedule {
	position: relative;
	&:hover {
		& .schedule-card {
			visibility: visible;
			opacity: 1;
			z-index: 20;
			transform: translateY(-2px);
		}
		& .schedule__icon {
			transform: rotate(180deg);
		}
	}
	&__main {
		@include flex;
		column-gap: 5px;
		padding: 13px 0px 13px 0px;
		cursor: pointer;
		@media (max-width: $bpLaptopMax1) {
			padding: 12px 0px 12px 0px;
		}
		@media (max-width: $bpLaptopMax2) {
			padding: 12px 0px 11px 0px;
		}
		@media (max-width: $bpMobile) {
			padding: 14px 0px 11px 0px;
		}
	}
	&__day {
		color: #acacac;
	}
	&__time {
	}
	&__icon {
		transition: 0.3s ease 0s;
		&-wrap {
			width: 8px;
			height: 6px;
		}
	}
	@media (max-width: $bpLaptopMin) {
		margin-left: 95px;
	}
	@media (max-width: $bpMobile) {
		margin-left: 60px;
	}
}
.schedule-card {
	row-gap: 25px;
	left: 144px;
	top: 46px;
	width: 260px;
	padding: 15px;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4;
	&::after {
		left: 16px;
		@media (max-width: $bpLaptopMin) {
			left: initial;
			right: 50px;
		}
	}
	&__items {
		@include flex(flex-start, flex-start);
		column-gap: 10px;
		@media (max-width: $bpLaptopMin) {
			column-gap: 15px;
		}
	}
	&__icon {
		&-wrap {
			color: $mainColorElements;
			flex: 0 0 25px;
			height: 25px;
			margin-top: 5px;
			@media (max-width: $bpLaptopMin) {
				color: #000;
			}
		}
	}
	&__time {
		@include flex(flex-start, flex-start, column);
		row-gap: 5px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: -50px;
			width: 260px;
			height: 1px;
			background-color: #d9d9d9;
			@media (max-width: $bpLaptopMin) {
				width: 285px;
				left: -70px;
			}
			@media (max-width: $bpMobile) {
				width: 100vw;
				left: -85px;
			}
		}
		&-title {
			font-size: 0.9231rem;
		}
		&-items {
			@include flex;
			column-gap: 5px;
			font-weight: 600;
		}
		&-item {
			&_color {
				color: #a2a6b0;
			}
		}
	}
	&__address {
		@media (max-width: $bpMobile) {
			max-width: 180px;
		}
	}
	&__contacts {
		@include flex(flex-start, flex-start, column);
		row-gap: 5px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -13px;
			left: -15px;
			width: 260px;
			height: 1px;
			background-color: #d9d9d9;
			@media (max-width: $bpLaptopMin) {
				width: 285px;
				left: -30px;
			}
			@media (max-width: $bpMobile) {
				width: 100vw;
				left: -45px;
			}
		}
	}
	&__contact {
		@include flex;
		column-gap: 5px;
		&-item {
			&_color {
				color: $mainColorElements;
			}
		}
	}
	@media (max-width: $bpLaptopMax1) {
		left: 137px;
		top: 43px;
	}
	@media (max-width: $bpLaptopMax2) {
		left: 132px;
		top: 42px;
	}
	@media (max-width: $bpLaptopMin) {
		left: -57px;
		width: 285px;
		padding: 15px 25px 20px 30px;
	}
	@media (max-width: $bpMobile) {
		width: 100vw;
		left: -75px;
		padding: 15px 45px 20px 45px;
	}
}
.contacts {
	@include flex;
	column-gap: 15px;
	@media (max-width: $bpLaptopMin) {
		display: none;
	}
}
.contact {
	@include flex;
	column-gap: 4px;
	padding: 13px 0px 13px 0px;
	cursor: pointer;
	&:hover {
		& .contact__number::after {
			width: 100%;
		}
	}
	&__item {
	}
	&__number {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: #fff;
			transition: width 0.3s ease 0s;
		}
	}
	@media (max-width: $bpLaptopMax1) {
		padding: 12px 0px 12px 0px;
	}
	@media (max-width: $bpLaptopMax2) {
		padding: 11px 0px 12px 0px;
	}
}
.social {
	@include flex;
	column-gap: 10px;
	&__icon {
		width: 15px;
		height: 15px;
		&-wrap {
			padding: 14px 0px 15px 0px;
			transition: color 0.3s ease 0s;
			&:hover {
				&:first-child {
					color: $mainColorElements;
				}
				&:last-child {
					color: #c94d3f;
				}
			}
			@media (max-width: $bpLaptopMax1) {
				padding: 13px 0px 14px 0px;
			}
			@media (max-width: $bpLaptopMax2) {
				padding: 12px 0px 13px 0px;
			}
		}
	}
}
